body
{
	margin: 0;
	padding: 0;

}
section
{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	background: url(glass.png);
	height: 100vh;
	
}
section .box
{	
	position: relative;
	max-width: 600px;
	padding: 50px;
	box-shadow:0 5px 15px rgba(0,0,0,.5);
	overflow: hidden; 
	color:#000; 
}
section .box:before
{
	content: '';
	position: absolute;
	top: -20px;
	left: -20px;
	right: -20px;
	bottom: -20px;
	background: url(glass.png);
	background-attachment: fixed;
	filter: blur(1px);
}
section .box h2{
	position: relative;
	margin: 0 0 20px;
	padding: 0;
	text-transform: uppercase;
	z-index: 2;
	font-size: 28px;
}
section .box p{
	position: relative;
	margin: 0 0 20px;
	padding: 0;
	font-size: 18px;
	
	z-index: 2;
}
.content{
	display: grid;
	grid-template-columns: repeat(2,auto);
	grid-gap: 1em;
}
.content .inner-content{
	background-color: #9980FA;
	padding: 2em;
	text-align: left;
}
.content .inner-content p {
	
	text-align: left;
	
}