
body{
  font-family: montserrat;
}
nav{
  background: black;
  height: 90px;
  width: 100%;
  
}
label.logo{
  color: white;
  font-size: 35px;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;
}
nav ul{
  float: right;
  margin-right: 20px;
}
nav ul li{
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
nav ul li a{
  color: white;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}
a.active,a:hover,{
  background: #1b9bff;
  transition: .5s;
}
.checkbtn{
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check{
  display: none;
}
@media (max-width: 952px){
  label.logo{
    font-size: 30px;
    padding-left: 50px;
  }
  nav ul li a{
    font-size: 16px;
  }
}
@media (max-width: 858px){
  .checkbtn{
    display: block;
  }
  ul{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #2c3e50;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
  }
  nav ul li{
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a{
    font-size: 20px;
  }
  a:hover,a.active{
    background:blue;
    color: #0082e6;
  }
  #check:checked ~ ul{
    left: 0;
  }
}

.logo:hover{
   background: none;
    color: #0082e6;
}
.nounderline {
  text-decoration: none !important
}
p{
  text-align: center;
}
.b{
  height: 35vh;
  width: 100%;

}
h1{
  text-align: center;
  background-color: black;
  color: white;
  width: 100%;
  padding: 5px;
  border: 1px solid white;
  border-left: 0;
  border-right: 0;
}
@media (min-width:700px)
{.elegantshd::after{
    content: "From Bangladesh";
  }
}
.profile{
  display:flex;
  margin: 5px;
  padding: 5px;
  }
 
 

.row > div{

  margin:auto;
  padding: 0px;
  border:1px solid white; 
  background-color: lightgray;
  border-radius: 10px;
  float: middle;
  



}


.image{
  width:62%;
  height:35vh;
  text-align: center;
  border:1px solid lightgray;
  border-radius: 5%;
  margin: auto;
  margin-right:5px;
  margin-top: -100px;
  margin-bottom: 0;
  margin-left: 50px;


  }
  p{
  font-size: 14px;
  font-family: sans-serif;
}
h2{
  font-size: 20px;
}

@media(min-width:691px)
{.image{
  width:20%;
  height: auto;
  text-align: center;
  border:1px solid lightgray;
  border-radius: 5%;
  margin: auto;
  margin-right:20px;
  margin-top: -110px;
  margin-bottom: 0;
  margin-left: 20px;

}
 p{
  
  font-family: montserrat;
  font-size: 18px;

}
h2{
  font-size: 28px;
  }
}

  

 
body { overflow-x: hidden;
  background-color: #ecf0f1;

 }
.grid{
      background-color: #ecf0f1;
      display: grid;
      padding: 20px;
      grid-column-gap:10px;
      grid-row-gap: 10px;
      grid-template-columns: auto ;
     
      
      
      
      
      }

.grid-item {
 background-color: white;
      font-size: 20px;
      padding: 20px;
      text-align: center;
      border:1px solid lightgray;
      margin: 1px;
      width: 100%;

      
            }

.gri{
  margin: 0;
  padding: 0;
  background-image:url(glass1.png);
  background-size: cover;
  height: 200px;
  object-fit: cover;
  width: 100%;
  max-height: 100%;
}
button
{ margin-top:20px;
  margin-right: 20px;
 background-color: #0984e3;
 border:none; }
 .Card{
  background-color: white;
  margin: 5px;
  padding: 0;
  text-decoration: none !important;
  color: black;

 }
 .Card:hover{
  background-color: white;
 }
 


